.subcategori{
	text-align: center;
	width: 100%;
    list-style: none;
    li.container{
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        height: 500px;
        float: left;
    }
}

.product-item-details{
    &.grid{
    text-align: center;
    }
    strong.price-product{
        font-size: 18px;
    }
    p.rrp {
        color: #CCC;
    }
    p.red {
        color: red;
    }
    p.free-shipping {
        color: green;
    }
}