<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */
?>
<?php 
$_helper    = $this->helper('Magento\Catalog\Helper\Output');
$_category  = $block->getCurrentCategory();
$_subcategories = $_category->getChildrenCategories();
    // $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

?>
<?php if (count($_subcategories) > 0): ?>
    <ol class="subcategori">
         <?php foreach ($_subcategories as $category): ?>
            <li class="container">
                    <?php 
                        // $sub_category = $objectManager->create('Magento\Catalog\Model\Category')->load($category->getId());
                    $sub_category = $block->getSubCategori($category->getId());
                    $img=  $sub_category->getImageUrl();
                    $description= $sub_category->getDescription();
                    if ($description) {
                        $description=substr( $description,  0, 310 )."...";
                    }
                    ?>
                    
                <a href="<?php echo $sub_category->getUrl() ?>" title="<?=strtoupper($category->getName())?>"><img src="<?=$img?>" alt=""></a>
                
                <p class="category-sub"><b><?=strtoupper($category->getName())?></b></p>
                <div class="category-description"><?=$description?><span><a href="<?php echo $sub_category->getUrl() ?>" title="<?=strtoupper($category->getName())?>">product view more</a></span></div>
                
                <p class="category-product-count"><?= __('Product number: ').$category->getProductCount()?></p>
            </li>
        <?php endforeach ?>
    </ol>
<?php endif ?>
